@use "bulma/sass/utilities/mixins";

@include mixins.mobile {
  // Styles applied
  // below $tablet
}
section{
    background-color: lightslategray;
}
.container{
    text-align: center;
}
.buttons{
    align-items: center;
}
strong{
    font-size: 50px;
}
.control{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.description{
    width: 590px;
    padding: 5px
}



@use "bulma/sass/utilities/mixins";

@include mixins.desktop {
  // Styles applied
  // above $desktop
}